{% extends "base.html" %}
{% block title %}Тестування{% endblock %}
{% block content %}
    <form method="POST" action="/test">
        <input type="hidden" value="{{ question_id}}" name="quest_id"><span class="badge text-bg-success">{{quiz_id}}</span></h1>
        <h1>{{quest}}</h1>
        {% for answer in ans_list%}
        <input type="radio" name="ans" value="{{ answer }}">{{answer}}
        {% endfor%}
        <button type="submit">Відповісти</button><span class="badge text-bg-success"></span></h1>
    </form>
{% endblock %}